
{{#if user.userID}}
	<div class="card card-body" style="width:73vw"> 
		<h2>Welcome, {{user.name}}.</h4>
	</div>
{{/if}}
<body style="background:#333;margin:0;padding:0">

	<div class="card card-body" style="width:73vw">
		
		{{#each announcements}}

		<a class="card card-body" style="padding-bottom:0; margin-bottom:20px; width:70vw" {{#if ../user.admin}} href="announcement/{{id}}"{{/if}}>
			<h4>{{Title}}</h4>
			<h5 style='white-space: pre-line;'>{{{Body}}}</h5>
			<br><br>
			<table>
			<tr>
				<td><p> {{timeago}}</p><td>
				<td><p style="text-align:right"> {{time}} </p><td>
			</tr>
			</table>
		</a>
		{{/each}}
		</p>
	</div>
</body>