
{{#if user.userID}}
	<div class="card card-body" style="width:73vw"> 
		<h2>Welcome, {{user.name}}.</h4>
	</div>
{{/if}}


<link rel="stylesheet" href="style/index.css">
<body style="background:#333;margin:0;padding:0">

	<div class="card card-body" style="width:73vw">
		<div style="display:flex;">
			<div id="Baslık" class="color" style="width:40vw;display:inline-block;">	
				<p style="color:black"> Metu Developers</p><br>
				<img src="/Images/logo.png" style="height:256px; width:256px;margin-top:50px">
			</div>
			
			<img src="/Images/Event.png" style="height:35vw;display:inline-block;margin:0;">	
		</div>
		
		{{#each announcements}}

		<a class="card card-body" style="padding-bottom:0; margin-bottom:20px; width:70vw" {{#if ../user.admin}} href="announcement/{{id}}"{{/if}}>
			<h4>{{Title}}</h4>
			<h5 style='white-space: pre-line;'>{{{Body}}}</h5>
			<br><br>
			<table>
			<tr>
				<td><p> {{timeago}}</p><td>
				<td><p style="text-align:right"> {{time}} </p><td>
			</tr>
			</table>
		</a>

		{{/each}}
		</p>
	</div>
</body>