
<h1> Profile </h1>
<h3> {{ThisUser.name}} {{ThisUser.surname}} </h3>
<h4>{{ThisUser.userID}}</h4>

{{#if ThisUser.Removed}}
	<a class="btn btn-danger disabled" style="color:white"> Sorry. This user was removed from the community </a>
{{else}}
	<a class="card card-body" style="z-index:1; margin:0;width:82vw; padding:1vw;">
		<h3> Your Requests </h3>
		<a class="card card-body" style="z-index:2; margin:0;width:82vw; padding:1vw;">
		{{#if My}}
			{{> _requests}}
		{{else}}
		<p> You cannot view this users requests.</p>
		{{/if}}
	</a>
{{/if}}