<link rel="stylesheet" href="../style/index.css">

{{#each Requests}}
	{{#if Pending}}
		<button class="card card-body" id="{{@index}}" style="z-index:0; margin-left:0;width:80vw" data-toggle="collapse" data-target="#info{{@index}}"> 
			<table>
				<tr>
					<td style="width:5%"><p> x{{Quantity}} </h5></td>
					<td style="width:50%"><p> {{ItemName}} </h4></td>
					<td style="width:45%"><p> requested by {{User}} for {{Time}} days </p></td>
					<td><a class="btn btn-dark btn-block" href="/stock/requests/approve/{{_id}}" style="float:right;"> Approve </a></td>
					<td><a class="btn btn-danger btn-block" style="float:right; color:white" data-toggle="collapse" data-target="#decline{{@index}}"> Decline </a></td>
				</tr>
			</table>
		</button>
		<div id="info{{@index}}" class="collapse border" style="border-color:black; border-style:grove; border-radius:10px; width:80vw;">
		<p style="margin:10px"> {{Info}}</p>
		</div>
		<div id="decline{{@index}}" class="collapse border" style="border-color:black; border-style:grove; border-radius:10px; width:80vw;">
			
			<label for="title"> Reason: </label> 
			<form action="/stock/requests/decline/{{id}}" method="post">
				<div class="form-group">
					<input type="text" class="form-control" name="reason" required>
				</div>
				<button class="btn btn-danger" style="color:white" type="submit"> DECLINE </button>
			</form>
		</div>
	{{else}}
		<button class="card card-body" id="{{@index}}" style="z-index:0; margin-left:0;width:80vw" data-toggle="collapse" data-target="#info{{@index}}"> 
			<table>
				<tr>
					{{#if Approved}} 
						<td style="width:5%"> <a class="btn btn-primary" style="background:#5b5; color:white"> APPROVED </a> </td>
					{{/if}}
					{{#if Declined}} 
						<td style="width:5%"> <a class="btn btn-danger" style="color:white"> DECLINED </a> </td>
					{{/if}}
					<td style="width:5%"><p> x{{Quantity}} </h5></td>
					<td style="width:45%"><p> {{ItemName}} </h4></td>
					<td style="width:45%"><p> requested by {{User}} for {{Time}} days </p></td>
					<td><a class="btn btn-danger btn-block" style="float:right; color:white" href="/stock/requests/revoke/{{id}}"> REVOKE </a></td>
				</tr>
			</table>
		</button>
		<div id="info{{@index}}" class="collapse border" style="border-color:black; border-style:grove; border-radius:10px; width:80vw;">
		<p style="margin:10px"> {{Info}}</p>
		</div>
	{{/if}}



{{else}}
		<p> Something went wrong or no items are in the stock.</p>
{{/each}}


<div style="height:100px">
	</div>