	{{#each Projects}}
	<div class="card card-body" style="z-index:1; width:80vw">
	<a href="/projects/details/{{id}}">
		<h4> {{Title}}</h4>
		<p>{{Description}} </p>
		<p>{{#if pdfLink}}More info: {{../Host}}{{pdfLink}} {{else}} No Documentation. {{/if}} </p>
		<p href="{{gitRepoLink}}"> Github: {{gitRepoLink}} </p>
		<table>
			<tr>
				<td><p> Starting: {{timeago}}</p></td>
				<td><p style="text-align:right"> {{time}} </p></td>
			</tr>
		</table>
	</a>
		{{#if ../user.admin}}
			<a class="btn btn-dark btn-block" href="/projects/edit/{{_id}}" style="z-index:3;"> Edit </a>
		{{/if}}
	</div>
	{{else}}
			<p> Something went wrong.</p>
	{{/each}}
	<a href="/projects/new" class="btn btn-primary btn-block" style="width:80vw"> Add New Project</a>
