	{{#each Projects}}
	<a class="card card-body" style="z-index:0; width:80vw" href="/projects/details/{{_id}}">
		<h4> {{Title}}</h4>
		<p>{{Description}} </p>
		<p> More info: {{../Host}}{{pdfLink}} </p>
		<p href="{{gitRepoLink}}"> Github: {{gitRepoLink}} </p>
		<table>
			<tr>
				<td><p> Starting: {{timeago}}</p></td>
				<td><p style="text-align:right"> {{time}} </p></td>
			</tr>
		</table>
		{{#if ../user.admin}}
			<btn class="btn btn-dark btn-block" href="/projects/edit/{{_id}}" style="z-index:3;"> Edit </btn>
		{{/if}}
	</a>
	{{else}}
			<p> Something went wrong.</p>
	{{/each}}
	<a href="/projects/new" class="btn btn-primary btn-block" style="width:80vw"> Add New Project</a>
